<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mathub"
        tools:targetApi="31">
        <activity
            android:name=".ProgressionTask"
            android:exported="false" />
        <activity
            android:name=".Progression"
            android:exported="false" />
        <activity
            android:name=".RangeTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumRange"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Equals2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeometryLessons"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquationTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Equals1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlgebraLessons"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PolytechTests"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HighSchool"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>